* {
  width: 1000px;
  margin: 0 auto;
  font-family: georgia;
}
body {background-color: #b3c2bf;
}
#container {
  position: relative;
  width: 1000px;
}
header{
  height: 200px;
  background-color: #252839;
  padding-top: 0px;
  text-align: none;
  letter-spacing: 5px;
  color: #e9ece5;
}
header img {
  position: absolute;
  width: 150px;
  padding-left: 5%;
  padding-top: 20px;
  z-index: 0
}
#olenakutsir {
    position: absolute; 
    padding-bottom: 1%;
    font-size: 15px;
    font-weight: 200;
    width: 75%;
    top: 30px;
    right: 0;
    height: 10px;
    color: #e9ece5;
}
#navi {
  position: absolute; 
    padding-bottom: 1%;
    font-size: 15px;
    font-weight: 200;
    width: 75%;
    top: 80px;
    right: 0;
    height: 10px;
    color: #e9ece5;
}
#welcome {
  position: relative;
  height: 519px;
  width: 1000px;
}
#pavement {
  position: absolute;
  z-index: -1
}
#pavement img {
   opacity: 0.9;
}
#hallo {
  position: absolute;
  font-size: 40px;
  font-weight: 100;
  width: 45%;
  top: 80px;
  right: 28%;
  height: 25%;
  color: #963019;
  border-radius: 30px;
  background: #e9ece5;
  box-shadow: 10px 10px 5px #677077;
  padding: 20px;
  
}
#about_me {
  position: relative;
  height: 720px;
  width: 1000px;
}
#me {
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: #963019;
}
#rain {
  position: absolute;
  z-index: 0;
}
